.container{
  width: 100%;
  height: auto;
  text-align: center;
}

.navbar{
  text-align: center;
  display: flex;
}

.navbar ul li{
  display: inline;
  line-height: 60px;
  padding: 5px;
}

.navbar ul li a{
  text-decoration: none;
  font-family: impact;
  font-weight: 10px;
  color: #3b9bda;
  text-align: center;
  font-size: 20px;
  border: 3px solid #3b9bda;
  border-radius: 20px;
  padding: 9px;
  transition: color 0.3s linear;
   -webkit-transition: color 0.5s linear;
   -moz-transition: color 0.5s linear;
}

.navbar ul li a:hover{
  color: white;
  background-color: #3b9bda;
}

.header ul h1{
  font-family: Arial Black;
  padding-top: 50px;
  font-size: 45px;
}

.header ul h2{
  font-size: 25px;
  font-weight: 10;
}

.about{
  color: white;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 200px;
  padding-bottom: 200px;
  display: block;
  background-color: #3b9bda
}

.about h3{
  font-size: 25px;
  padding-bottom: 25px;
  margin-top: 0px;
  font-family: Arial Black;
  font-size: 45px;
}

.about p{
  margin-top: 50px;
  font-family: sans-serif;
}



.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  border-radius: 100px;
  border: 3px solid #3b9bda
}
